<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="static/Favicon.png">
    <link rel="apple-touch-icon" type="image/png"  href="static/Favicon.png">
    <title>Katten en honden teller</title>
    <link rel="stylesheet" href="static/style.css"> <!-- External CSS file -->
    <script src="static/script.js" defer></script> <!-- External JS file with defer attribute -->
</head>
<body>
    <div class="card">
        <h1 class="header">Kat en Hond teller</h1>
        <div class="label">Florentine</div>
        <div class="container" id="catsContainer"></div>
        <div class="label">Pieter</div>
        <div class="container" id="dragonsContainer"></div>
    </div>
    <div class="card">
        <canvas id="timerCanvas" width="600" height="600"></canvas>
        <script src="static/TimeTimer/timeTimer.js"></script>
    </div>
</body>
</html>
