<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Kat and Hond teller</title>
    <link rel="icon" type="image/png"  href="static/Favicon.png">
    <link rel="apple-touch-icon" type="image/png"  href="static/Favicon.png">
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <link rel="stylesheet" href="static/style.css"> <!-- Link to your updated CSS file -->
</head>
<body>
    <div class="card">
        <h1 class="header">Login</h1>
        <!-- Flash messages for login feedback -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/login" method="post" style="width: 100%; display: flex; flex-direction: column; align-items: center;">
            <div class="form-group">
                <input type="password" id="password" name="password" placeholder="Wachtwoord" required>
                <!-- Dynamic error message display -->
                {% if error_message %}
                <div class="error-message">{{ error_message }}</div>
                {% else %}
                <!-- Placeholder for error message, hidden by default -->
                <div class="error-message" style="display: none;"></div>
                {% endif %}
            </div>
            <button type="submit" class="btn">Log In</button>
        </form>
    </div>
</body>
</html>
