<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png"  href="static/Favicon.png">
    <link rel="apple-touch-icon" type="image/png"  href="static/Favicon.png">
    <meta charset="UTF-8">
    <title>Admin Timer, Kat&Hond 2</title>
    <link rel="stylesheet" href="static/style.css">
    
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="static/TimeTimer/timeTimer.js"></script> 
    <script src="static/script.js" defer></script>

</head>
<body>
    <div class="cardContainer">
       
        <div class="card">
            <h1 class="header">Katten en Honden Teller</h1>
            <div class="label">Florentine</div>
            <div class="container" id="angryCatsContainer"></div>   
            <div class="container" id="niceCatsContainer"></div> 
            <div class="container" id="kadoFContainer"></div>   
            <div class="label">Pieter</div>
            <div class="container" id="angryDogsContainer"></div>
            <div class="container" id="niceDogsContainer"></div>
            <div class="container" id="kadoPContainer"></div>
        </div>
    
        <div class="card">
            <canvas id="timerCanvas" width="800" height="800"></canvas>
        </div>
        
    
        <div class="card">
            <h2>Timer Instellingen</h2>
            <div class="container">
                <input type="number" id="timerMinutesInput" placeholder="Minuten" min="1">
                <button class="btn" id="setTimerButton">Timer Instellen</button>
            </div>
            <div class="container">
                <button class="btn" id="startTimerButton">Start</button>
                <button class="btn" id="pauseTimerButton">Pauze</button>
                <button class="btn" id="resetTimerButton">Reset</button>
            </div>
        </div>
    
        <div class="card">
            <h2>Akties</h2>
            <div class="container">
                <button class="btn" id="ipadButton">iPad aanzetten</button>
                <button class="btn" id="refreshButton">Refresh All Clients</button>
            </div>
        </div>
            
    </div>
</body>
</html>
