<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="static/Favicon.png">
    <link rel="apple-touch-icon" type="image/png" href="static/Favicon.png">
    <title>Katten en Honden Teller</title>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="static/TimeTimer/timeTimer.js"></script>
    <script src="static/script.js" defer></script>
</head>
<body>
    <div class="card">
        <h1 class="header">Katten en Honden Teller</h1>

        {% if show != 'pieter' %}
        <div class="florentine">
            <div class="label">Florentine</div>
            <div class="container" id="angryCatsContainer"></div>
            <div class="container" id="niceCatsContainer"></div>
            <div class="container" id="kadoFContainer"></div>
        </div>
        {% endif %}

        {% if show != 'florentine' %}
        <div class="pieter">
            <div class="label">Pieter</div>
            <div class="container" id="angryDogsContainer"></div>
            <div class="container" id="niceDogsContainer"></div>
            <div class="container" id="kadoPContainer"></div>
        </div>
        {% endif %}
    </div>

   
</body>
</html>
