<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png"  href="static/Favicon.png">
    <link rel="apple-touch-icon" type="image/png"  href="static/Favicon.png">
    <title>Katten en honden teller</title>
    <link rel="stylesheet" href="static/style.css"> <!-- External CSS file -->
    <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
    <script src="static/TimeTimer/timeTimer.js"></script> 
    <script src="static/script.js" defer></script> <!-- External JS file with defer attribute -->
</head>
<body>
    <div class="card">
        <canvas id="timerCanvas" width="600" height="600"></canvas>
        
    </div>
</body>
</html>
